---
- name: "Validation"
  tags: [always]
  block:
    - name: "Validation: merge unattended_upgrades and unattended_upgrades_override"
      ansible.builtin.set_fact:
        unattended_upgrades: "{{ unattended_upgrades | combine(unattended_upgrades_override | default({})) }}"

    - name: "Validation: unattended_upgrades"
      ansible.builtin.assert:
        that:
          - unattended_upgrades is defined
          - unattended_upgrades is mapping
          # 20auto-upgrades
          - unattended_upgrades.enabled is integer
          - unattended_upgrades.update_package_lists is integer
          - unattended_upgrades.download_upgradeable_packages is integer
          - unattended_upgrades.autoclean_interval is integer
          - unattended_upgrades.random_sleep is integer
          # 50unattended-upgrades
          - unattended_upgrades.skip_on_battery is boolean
          - unattended_upgrades.remove_unused_dependencies is boolean
          - unattended_upgrades.remove_unused_kernel is boolean
          - unattended_upgrades.auto_fix_dpkg is boolean
          - unattended_upgrades.minimal_steps is boolean
          - unattended_upgrades.auto_reboot is boolean
          - unattended_upgrades.reboot_time | regex_search("^([01][0-9]|2[0-3]):[0-5][0-9]$")
          - unattended_upgrades.allow_downgrades is boolean
          - unattended_upgrades.mail | regex_search("^[^@\\s]+@[^@\\s]+$")
          - unattended_upgrades.mail_only_error is boolean
          - unattended_upgrades.blacklist_packages is iterable
        success_msg: "'unattended_upgrades' is valid"
        fail_msg: |
          'unattended_upgrades' must be a dictionary with correct keys and types
          Got: '{{ unattended_upgrades | type_debug }}'
          Length: '{{ unattended_upgrades | length }}'
          Value: '{{ unattended_upgrades | to_nice_yaml }}'


- name: "Configure unattended_upgrades"
  tags: [update, security]
  when: ansible_os_family is defined and ansible_os_family == "Debian"
  block:
    - name: "Configure unattended_upgrades: 20auto-upgrades template"
      ansible.builtin.template:
        src: "apt.conf.d/20auto-upgrades.j2"
        dest: "/etc/apt/apt.conf.d/20auto-upgrades"
        owner: "root"
        group: "root"
        mode: "0644"
      notify: "unattended-upgrades.service configuration changed"

    - name: "Configure unattended_upgrades: 50unattended-upgrades template"
      ansible.builtin.template:
        src: "apt.conf.d/50unattended-upgrades.j2"
        dest: "/etc/apt/apt.conf.d/50unattended-upgrades"
        owner: "root"
        group: "root"
        mode: "0644"
      notify: "unattended-upgrades.service configuration changed"
